.list {
  font-size: 1em;
  /* background-color: hsl(var(--color-primary)); */
}

.item {
  background-color: hsla(0, 0%, 100%, 0.6);
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: 1px solid hsla(0, 0%, 0%, var(--dark-transparency));
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemChecked {
  composes: item;
}

.itemChecked .input {
  color: hsla(var(--color-black), 0.5);
  text-decoration: line-through;
}

.input {
  composes: padding-medium from "../layout.css";
  flex-grow: 1;
  background-color: transparent;
}

.checkbox {
  margin-left: var(--space-medium);
  composes: padding-small from "../layout.css";
  --checkbox-color: rgba(0, 0, 0, 0.8);
  appearance: none;
  height: 1em;
  width: 1em;
  display: inline-block;
  border: 1px solid var(--checkbox-color);
  border-radius: 50%;
  position: relative;
  background: transparent;
}

.itemChecked .checkbox {
  --checkbox-color: rgba(0, 0, 0, 0.4);
}

.itemChecked .checkbox:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--checkbox-color);
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjI3MCIgaGVpZ2h0PSIyNzAiPgo8cGF0aCBkPSJNIDMwLDE4MCA5MCwyNDAgMjQwLDMwIiBzdHlsZT0ic3Ryb2tlLXdpZHRoOjMwOyBmaWxsOm5vbmUiICBzdHJva2U9ImN1cnJlbnRDb2xvciI+PC9wYXRoPgo8L3N2Zz4=");
  mask-position: center;
  mask-size: 0.5em auto;
  mask-repeat: no-repeat;
}
