.main {
  box-shadow: var(--shadow-xsmall), var(--shadow-large);
  overflow: hidden;
  background-color: transparent;
  margin: var(--space-medium) auto;
  width: 50vw;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
