:root {
  --color-black: #000;
  --dark-transparency: 0.2;

  --space-medium: 16px;
  --space-small: 12px;
  --space-xsmall: 8px;
  --shadow-large: 0px 1px 80px hsla(var(--color-black), 0.1);
  --shadow-medium: 0px 1px 20px var(--color-black);
  --shadow-xsmall: 0px 1px 5px var(--color-black);
}
